.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.inputs{
  display: flex;
  flex-direction: column;
}


.inputs label{

  font-size: 11px;
}

input{
  border: 1px solid red;
}

input:focus{
  outline: none;
}

.inputs input{
  padding-left: 5px;
  width: 20rem;
}

.inputs span{
  font-size: 11px;
}

.email, .password, .confirmPassword{
  border: 1px solid green;
}